.mystyle{
  color: white;
  background-color: DodgerBlue;
  padding: 10px;
  font-family: Arial;
  text-align:center;

}

.btnStyle{
  height: 30px;
   width : 50px;
   background-color: DodgerBlue;
   text-align:center;
   margin:5px;
   background-color: blue;
}
.bookbtn{
  height: 50px;
   width : 100px;
   background-color: DodgerBlue;
  color:white;
   margin:5px;
}
.h3{
  color:black;
  float:right;
  margin:30px;
}
.availableSeat{
  height: 30px;
  width : 50px;
  background-color: DodgerBlue;
  
  margin:25px;
  float:right;

}


